/* medium dives */
@media screen and (min-width: 576px) and (max-width: 992px) {
	.continer {
		max-width: 100%;
	}
	.content {
		max-width: 95%;
	}
	.navbar {
		gap: 15px;
	}
}
/* mobile dives */
@media screen and (max-width: 576px) {
	.continer {
		max-width: 100%;
	}
	.content {
		max-width: 95%;
	}
	.navbar {
		display: none;
	}
	.hambar-manu {
		display: block;
	}
}
