/* medium dives */
@media screen and (min-width: 576px) and (max-width: 992px) {
	.continer {
		max-width: 100%;
	}
	.content {
		max-width: 90%;
	}
	.navbar {
		display: block;
	}
	.banner-section {
		flex-direction: column;
	}
	.navbar {
		display: flex;
		gap: 20px;
	}
	.banner {
		margin: 0 40px;
	}
	.banner-img {
		margin: 0 90px;
		margin-top: 80px;
	}
	.banner-btn {
		gap: 30px;
	}
	.primary--btn {
		width: 100%;
		padding: 16px 0;
	}
	/* habit section */
	.habit-section-title {
		max-width: 70%;
		/* margin: 0 130px; */
	}
	.habit__title {
		font-size: 2.1rem;
	}
	.habit-section-img {
		grid-template-columns: repeat(2, 1fr);
		gap: 70px;
		margin: 0 50px;
		margin-top: 50px;
	}
	/* 	run-content */
	.run-content {
		gap: 60px;
	}
	.run-content-text {
		max-width: 50%;
	}
	.run-content-img img {
		object-fit: cover;
		max-width: 100%;
	}
	/* run section end */
	/* blog time section */
	.blog {
		max-width: 100%;
		margin: 0 auto;
	}
	.blog__title {
		max-width: 90%;
	}
	.blog__title h2 {
		font-size: 3.4rem;
	}
	.our__blog {
		grid-template-columns: repeat(2, 1fr);
	}
	/* blog section end */
	/* table */
	.table-contant {
		max-width: 90%;
	}
	.table {
		max-width: 90%;
		flex-direction: column;
	}
	.table-chart {
		max-width: 60%;
	}
	.form-btn {
		width: 50%;
		padding: 16px 0;
	}
	/* team section */
	.our-team-text {
		max-width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	.team-img-content h3 {
		font-size: 1rem;
		left: 8px;
		bottom: 36px;
	}
	.team-img-content p {
		left: 8px;
		bottom: 17px;
	}
	/* footer */
	.footer {
		max-width: 100%;
	}
	.footer-section {
		grid-template-columns: 1fr;
	}
	.footer__content__1 {
		max-width: 60%;
	}
	.footer__content__2 {
		max-width: 70%;
		margin-top: 100px;
	}
}
/* mobile dives */
@media screen and (max-width: 576px) {
	.continer {
		max-width: 100%;
		margin: 0 auto;
	}
	.content {
		max-width: 92%;
		margin: 0 auto;
	}
	/* nabar */
	.navbar {
		display: none;
	}
	.hambar__manu {
		display: block;
		font-size: 1rem;
	}
	/* banner section start */
	.banner-section {
		flex-direction: column;
	}
	.banner h1 {
		font-size: 3rem;
		letter-spacing: 1.8px;
	}
	.banner__content__style {
		font-size: 3rem;
	}
	.banner-video {
		padding: 10px 15px;
		left: 54%;
		bottom: 75%;
	}
	.banner-tutorial {
		left: 10%;
		bottom: 42%;
	}
	.play--ball {
		display: block;
		margin-top: 12px;
		margin-left: 5px;
	}
	.banner-btn {
		padding: 0;
		gap: 20px;
	}
	.primary--btn {
		padding: 16px 0;
		margin-bottom: 48px;
		width: 100%;
	}
	/* banner section end */
	/* habit section */
	.habit-section-title {
		max-width: 100%;
	}
	.habit-section-img {
		grid-template-columns: repeat(1, 1fr);
	}
	.habit-img-content {
		margin-top: 58px;
	}
	.section-title {
		font-size: 2rem;
	}
	.habit-img-content p {
		margin-bottom: 66px;
	}
	/* run section */
	.run-content,
	.free-time-section {
		flex-direction: column;
	}
	.run-content-img img {
		object-fit: cover;
		max-width: 100%;
	}
	.run-btn {
		padding: 16px 0;
		width: 100%;
		margin-top: 24px;
	}
	/* blog time section */
	.blog {
		max-width: 100%;
		margin: 0 auto;
	}
	.blog__title {
		max-width: 100%;
		margin: 0 auto;
	}
	.blog__title h2 {
		font-size: 2.6rem;
	}
	.our__blog {
		grid-template-columns: repeat(1, 1fr);
		gap: 50px;
	}
	/* blog section end */
	.table-section {
		max-width: 100%;
		margin: 0 auto;
	}
	/* table-form */
	.table-contant {
		max-width: 92%;
		margin: 0 auto;
	}
	.table {
		max-width: 92%;
		margin: 0 auto;
		padding-bottom: 0;
		flex-direction: column;
	}
	.table-chart {
		padding-bottom: 40px;
	}
	.table-chart h3 {
		margin-bottom: 23px;
	}
	input[type="text"],
	select {
		width: 100%;
	}
	.form-btn {
		width: 60%;
		padding: 16px 0;
	}
	/*  */
	.our-team-text {
		max-width: 70%;
		margin: 0px auto;
	}
	.our-team-img {
		grid-template-columns: repeat(1, 1fr);
	}
	/* footer section */
	.footer {
		max-width: 100%;
	}
	.footer-section {
		grid-template-columns: 100%;
	}
	.footer__content__2 {
		flex-direction: column;
		margin-top: 30px;
	}
	.footer__title__2 {
		margin-top: 20px;
	}
	.fotter-hr p {
		font-size: 1.25rem;
		text-align: left;
	}
}
@media screen and (min-width: 340px) and (max-width: 424px) {
	.content {
		max-width: 95%;
		margin: 0 auto;
	}
	.banner-video {
		width: 150px;
		padding: 12px 8px;
		left: 57%;
		bottom: 75%;
		text-align: left;
	}
	.banner-tutorial {
		width: 160px;
		padding: 12px 8px;
		gap: 10px;
	}
	.b__img__content__style {
		font-size: 1.5rem;
		font-weight: 700;
	}
	.b__img__content__p {
		font-size: 14px;
	}
	.table-contant {
		max-width: 95%;
		margin: 0 auto;
	}
}
