* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.inter-sens-sarif {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}
/* shard style */
.content-width {
	max-width: 80%;
	margin: 0 auto;
	border: 2px solid red;
}
main > section {
	max-width: 70%;
	margin: 0 auto;
	border: 2px solid yellow;
}
/*  */
.header {
	background-color: #000000;
}
/* nav menu start */
.navbar-manu {
	max-width: 70%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 58px;
	border: 2px solid green;
}
.nav-contant {
	color: #e6533c;
	font-size: 2.25rem;
	font-weight: 800;
}
.nav-btn {
	margin: 12px 47px;
	margin-right: 0px;
	/* padding: 12px 0; */
	border: none;
	color: rgba(255, 255, 255, 0.7);
	background-color: #000000;
	font-size: 1rem;
}
.nav-btn-home {
	background-color: #e6533c;
	color: #ffffff;
	border-radius: 46px;
	padding: 8px 20px;
}
.nav-hambar-manu {
	/* display: none; */
	color: #ffffff;
}
/* start hero section */
.hero-section {
	max-width: 70%;
	margin: 0 auto;
	margin: 96px auto;
	display: flex;
	/* background: linear-gradient(
		360deg,
		rgb(17, 17, 17, 1),
		rgba(119, 119, 119, 0) 100%
	); */
	border: 2px solid royalblue;
}
/* start hero section content */

.hero-section-content {
	flex-basis: 50%;
	/* margin-right: 30px; */
	border: 2px solid green;
}
.hero-section-title {
	color: #ffffff;
	font-size: 4.8rem;
	font-weight: 600;
}
.hero-section-description {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	font-weight: 400;
	margin: 35px 0px;
}
.hero-section-btn {
	display: flex;
	gap: 20px;
	margin-bottom: 10px;
}
.hero-section-btn a {
	display: inline-block;
}
.btn-join-now {
	background-color: #e6533c;
	color: #ffffff;
	font-size: 1rem;
	font-weight: 500;
	padding: 16px 48px;
	border-radius: 42px;
	border: none;
	display: block;
	/* margin-right: 10px; */
}
.btn-download {
	background-color: #000000;
	color: #ffffff;
	font-size: 1.12rem;
	font-weight: 500;
	padding: 16px 48px;
	border-radius: 42px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	display: inline-block;
}
.hero-section-img {
	max-width: 50%;
	max-height: 50%;
	position: relative;
	flex-basis: 50%;
	text-align: center;
	border: 2px solid greenyellow;
}
.hero-section-img img {
	width: 100%;
}
.workout-video {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	color: #ffffff;
	text-align: left;
	padding: 17px 24px;
	background-color: rgba(255, 255, 255, 0.4);
	position: absolute;
	top: 50%;
	margin-top: -45%;
	right: 50%;
	margin-right: -42%;
	border-radius: 12px;
	border: 1px solid lightpink;
}
.workout-video p {
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.65);
}
/*  */
.video-tutorial-ball {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #e6533c;
	position: absolute;
	left: 50%;
	margin-left: -30%;
	bottom: 50%;
	margin-bottom: -10%;
}
.video-tutorial {
	max-width: 190px;
	max-height: 80px;
	margin: 0 auto;
	border-radius: 12px;
	padding: 20px 23px 20px 75px;
	background-color: rgba(255, 255, 255, 0.3);
	position: absolute;
	left: 50%;
	margin-left: -45%;
	bottom: 50%;
	margin-bottom: -35%;
}
.video-tutorial h2 {
	text-align: left;
	color: rgba(250, 250, 249, 1);
	font-size: 1.5rem;
}
.video-tutorial p {
	text-align: left;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.65);
}
/* hero section comtent ends */
/* start main secton */
.main-section {
	background-color: #000000;
	border: 2px solid red;
}
/* Start Habits-Section */
.habits-section-hedding {
	margin-top: 100px;
	margin-bottom: 58px;
	text-align: center;
}
.habits-section-title {
	color: #ffffff;
	font-size: 3rem;
	font-weight: 800;
	margin-bottom: 10px;
}
.habits-section-description {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8rem;
	font-weight: 400;
}
/* habits-section-img */
.habits-section-img {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 30px;
	padding: 0px 15px;
}
.habits-section-img img {
	width: 100%;
	border-radius: 100%;
}
.habits-img-content {
	text-align: center;
}
.habits-sec-img-title {
	color: #ffffff;
	font-size: 1.1rem;
	font-weight: 600;
	margin-top: 50px;
	margin-bottom: 5px;
}
.habits-sec-img-pera {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8rem;
	font-weight: 400;
}
/* habits section ends */
/* run section start */
.run-section {
	display: flex;
	justify-content: center;
}
.run-section-contant h2 {
	color: #ffffff;
	font-size: 3rem;
	font-weight: 800;
}
.run-section-contant p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.8rem;
	font-weight: 400;
}
.run-section-contant button {
	color: #ffffff;
	background-color: #e6533c;
	font-size: 1.12rem;
	padding: 16px 71px;
	border-radius: 42px;
}
.run-section-img img {
	max-width: 366px;
	max-height: 312px;
	flex-basis: 50%;
}

/*  */
@media screen and (max-width: 576px) {
	.navbar-manu {
		max-width: 95%;
	}
	.nav-btn {
		display: none;
	}
	.nav-hambar-manu {
		display: block;
	}
}
