* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 2px solid red; */
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
	font-family: "Inter", sans-serif;
	background-color: rgb(185, 185, 185);
	box-sizing: border-box;
	border: 2px solid yellow;
}
/* default style */
.continer {
	max-width: 90%;
	margin: 0 auto;
	background: #000000;
	border: 2px solid tomato;
}
.content {
	max-width: 80%;
	margin: 0 auto;
	/* border: 1px solid green; */
}
/* main > section {
	max-width: 80%;
	margin: 0 auto;
	border: 1px solid green;
} */
.table-wrap {
	background-color: rgb(34, 34, 34);
}

.primary--btn {
	padding: 16px 45px;
	color: rgb(255, 255, 255);
	background-color: #d64029;
	font-size: 1.12rem;
	font-weight: 600;
	border-radius: 42px;
	border: 1px solid #d64029;
	border: none;
}
.section-title {
	color: rgba(255, 255, 255, 1);
	font-size: 3rem;
	font-weight: 800;
	margin-bottom: 14px;
}
.section-deccription {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.88rem;
	font-weight: 400;
	letter-spacing: 0.3px;
}
/* default style end */
/* nav-section start */
.nav-section {
	background: linear-gradient(
		180deg,
		rgb(17, 17, 17, 1),
		rgba(119, 119, 119, 0) 100%
	);
}
/* nav section srart */
.header {
	background: linear-gradient(
		360deg,
		rgb(17, 17, 17, 1) 100%,
		rgba(119, 119, 119, 0) 100%
	);
}
.nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 57px;
}
.nav__title {
	color: rgb(230, 83, 60);
	font-size: 2.25rem;
	font-weight: 800;
	font-style: italic;
}
.navbar {
	display: flex;
	gap: 47px;
	align-items: center;
}
.navbar__btn {
	padding: 12px auto;
	border: none;
	font-size: 1.32rem;
	color: #ffffff;
	font-weight: 400;
	text-decoration: none;
	/* background-color: #000000; */
}
.home--btn {
	background: #d64029;
	padding: 8px 20px;
	border-radius: 46px;
	font-weight: 600;
}
.hambar__manu {
	background-color: #ffffff;

	display: none;
}
/* nav section end */
/* banner-section start */
.banner-section {
	color: #ffffff;
	display: flex;
	justify-content: space-around;
	margin-top: 32px;
	gap: 5%;
	border: 1px solid tan;
}
.banner {
	flex-basis: 45%;
	margin-top: 70px;

	border: 1px solid royalblue;
}
.banner h1 {
	font-size: 5rem;
	color: #ffffff;
	letter-spacing: 1px;
	line-height: 85px;
	padding-right: 95px;
}
.banner__content__style {
	font-family: "Miama", sans-serif;
	font-size: 5rem;
	font-weight: 500;
	font-style: italic;
}
.banner p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 1rem;
	margin: 28px 0;
	padding-right: 95px;
}
.banner-btn {
	display: flex;
	justify-content: space-between;
	padding-right: 95px;
}
.banner-btn-app {
	color: rgb(255, 255, 255);
	border: 1px solid rgb(255, 255, 255);
}
.banner-img {
	flex-basis: 50%;
	text-align: center;
	position: relative;
	border: 1px solid purple;
}
.play--ball {
	display: none;
}
/* .banner-img img {
	max-width: 100%;
} */
.banner-video {
	width: 190px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(20px);
	border-radius: 12px;
	position: absolute;
	padding: 10px 18px;
	left: 0;
	bottom: 0;
	left: 60%;
	bottom: 62%;
}

.b__img__content__style {
	text-align: left;
	color: #ffffff;
	font-size: 2rem;
	font-weight: 700;
}
.b__img__content-__p {
	text-align: left;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.65);
}
.banner-tutorial {
	max-width: 200px;
	height: 80px;
	display: flex;
	gap: 20px;
	align-items: center;
	padding: 18px 20px;
	border-radius: 12px;
	background-color: rgba(48, 48, 48, 0.54);
	backdrop-filter: blur(20px);
	border: 1px solid rgba(48, 48, 48, 0.54);
	position: absolute;

	left: 0;
	bottom: 0;
	left: 10%;
	bottom: 12%;
}
.ball {
	width: 40px;
	height: 40px;
	background-color: #d64029;
	border-radius: 50%;
}
/* banner section end */
/* habit-section */
.habit-section-title {
	max-width: 50%;
	margin: 0 auto;
	text-align: center;
	margin-top: 100px;
	border: 1px solid lawngreen;
}
.habit-section-img {
	margin-top: 58px;
	display: grid;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
}
.habit-section-img img {
	width: 100%;
	border-radius: 100%;
	border: 4px solid rgba(255, 255, 255, 0.1);
}
.habit-img-content {
	text-align: center;
}
.habit-img-content h4 {
	font-size: 1.12rem;
	color: rgb(255, 255, 255);
	font-weight: 600;
	margin-top: 30px;
	margin-bottom: 6px;
}
.habit-img-content p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.88rem;
	font-weight: 400;
	margin-bottom: 100px;
}
/* habit section end */
/* run-section start */
.run-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 18px;
	background-color: rgb(34, 34, 34);
	border: 1px solid violet;
	padding: 2rem;
}
.run-content-text {
	max-width: 465px;
	/* height: 315px; */

	/* margin-top: 46px; */
	/* margin: 0 54px; */
	border: 1px solid rosybrown;
}
.run-content-text p {
	line-height: 24px;
	letter-spacing: 0.3px;
	text-align: left;
	/* margin-bottom: 40px; */
	/* padding-bottom: 40px; */
}
.run-btn {
	padding: 16px 71px;
	margin-top: 34px;
}
.run-content-img img {
	max-width: 376px;
	height: 312px;
	border-radius: 18px;

	/*  */
	object-fit: none;
	object-position: 66% 30%;
}

/* free-time-section start */
.free-time-section {
	display: flex;
	color: #ffffff;
	border: 1px solid tomato;
	justify-content: space-between;
	align-items: center;
	margin-top: 80px;
	padding: 50px;
}
.free__time__content {
	flex-basis: 40%;
	border: 1px solid tomato;
}
.time__description {
	line-height: 28px;
	/* letter-spacing: 1.5px; */
	margin-bottom: 40px;
}
.time-btn {
	padding: 18px 80px;
}
.free__time__img img {
	max-width: 100%;
	max-width: 550px;
	border-radius: 10px;
}
/* table section start*/
.table-contant {
	max-width: 50%;
	margin: 88px auto;
	border: 1px solid lawngreen;
}
.table {
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	/* margin-bottom: 50px; */
	justify-content: space-between;
	background-color: rgb(34, 34, 34);
	border: 1px solid lightpink;
}
.table-chart {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-top: 50px;
	/* justify-content: center; */

	border: 1px solid lightskyblue;
}
.table-chart h3 {
	font-size: 1.75rem;
	font-weight: 800;
	color: rgb(255, 255, 255);
	/* margin: 52px auto; */
}
table {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-collapse: collapse;
}
th {
	font-size: 1rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
}
td {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.88rem;
	font-weight: 400;
}
th,
td {
	padding: 10px 18px;
	text-align: left;
	border: 1px solid rgba(255, 255, 255, 0.1);
}
.form-chart {
	display: flex;
	flex-direction: column;
	align-items: self-end;
	margin-top: 50px;
	/* margin-right: 190px; */
	border: 1px solid blueviolet;
}
.form-text h3 {
	font-size: 1.75rem;
	color: rgb(255, 255, 255);
	font-weight: 800;
	/* margin-top: 49px; */
}
.form-text p {
	margin-bottom: 34px;
}
.form-input {
	display: flex;
	gap: 12px;
}
.form-age {
	display: flex;
	gap: 12px;
}
input[type="text"],
select {
	padding: 13px 18px;
	background: rgba(255, 255, 255, 0.1);
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.1);
	width: 49%;
	border-radius: 8px;
	/* margin-right: 12px; */
	margin-bottom: 12px;
}
.form-sex {
	color: rgba(255, 255, 255, 0.4);
}
.form-activity {
	width: 100%;
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: 0;
}
.form-btn {
	padding: 16px 80px;
	margin-top: 34px;
}
/* ouer-team-section start */
.our-team-text {
	max-width: 50%;
	margin: 88px auto 78px;
	border: 1px solid rgba(230, 83, 60, 1);
}
.our-team-img {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	padding: 20px;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 18px;
	margin-bottom: 88px;
}
.our-team-img img {
	width: 100%;
	height: 100%;
	border-radius: 18px;
	filter: brightness(80%);
	/* filter: rgba(0, 0, 0, 0.2); */
}
.team-img-content {
	position: relative;
}

.team-img-content h6 {
	font-size: 1.25rem;
	font-weight: 800;
	color: rgb(255, 255, 255);
	position: absolute;
	left: 19px;
	bottom: 36px;
}
.team-img-content p {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.88rem;
	font-weight: 400;
	position: absolute;
	left: 19px;
	bottom: 17px;
}
/* our team section end */
/* footer section start */
.footer {
	max-width: 90%;
	margin: 0 auto;
}
.footer-section {
	display: grid;
	grid-template-columns: 45% 41%;
	justify-content: space-between;
	padding: 66px 0 80px;
}
.footer__content__1 h2 {
	margin-bottom: 1.25rem;
}
.footer__content__2 {
	display: flex;
	justify-content: space-between;
	border: 1px solid forestgreen;
}
.footer__title__1 h2,
.footer__title__2 h2 {
	font-size: 2rem;
	color: rgb(255, 255, 255);
	font-weight: 700;
	text-align: left;
}
.footer__title__1 ul li,
.footer__title__2 ul li {
	list-style: none;
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 400;
}
.footer-hr hr {
	color: rgba(255, 255, 255, 0.1);
}
.fotter-hr p {
	font-size: 1.6rem;
	color: rgba(255, 255, 255, 0.5);
	font-weight: 400;
	text-align: center;
	padding: 35px 0;
}
